*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 2vh;
}


main {

    flex-flow: column nowrap;
    margin: .5em;

}

.row {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1em;
}

.row>* {
    margin: 0.25em;
}

.ascii-container {
    font-family: monospace;
    line-height: calc(9/16);
    white-space: nowrap;
}

.block-video span {
    font-size: 1.1em;
    width: 100%;
}

.slider-container {
    display: flex;
    align-items: center;
}